build/
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.env
CLAUDE.md

appsettings.json
.vs/
.vscode


*.nupkg

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

*.log

.DS_Store
Thumbs.db


TestResults/


*.vspscc
*.vssscc
*.pdb
*.mdb

.idea/
*.sln.iml

~$*
